@model HomeViewModel
<section class="promo">
    <img src="~/client-side/icd/img/banner2.png" data-aos="fade-up" alt="" class="promo__img aos-init aos-animate" style="width: 990px;">
    <div class="container">
        <div class="row">
            <div class="col-12 promo__content" data-aos="fade-right">
                <h1>
                    IC DEFI
                    <span style="font-size: 30px;font-family: 'Roboto';color: #8bc34a;">Marketing program, Airdrop will open after:</span>
                </h1>
                <p>
                    - Register user and copy wallet on web, then provide username and wallet address to receive 10 ICD<br />
                    - Do the airdop mission: subscribe Youtube channel to receive 10 ICD<br />
                    - Do the airdop mission: follow Twitter page and retweet to receive 10 ICD<br />
                    - Do the airdop task: subscribe Telegram channel and join group to receive 10 ICD<br />
                    - Do airdop tasks: like and follow facebook fanpage to receive 10 ICD<br />
                    - Refer Airdrop users : Get 10 ICD per ref
                </p>

                <div class="timer-wrap">
                    <div id="timer" class="timer"></div>
                    <div class="timer__titles">
                        <div>Days</div>
                        <div>Hours</div>
                        <div>Minutes</div>
                        <div>Seconds</div>
                    </div>
                </div>

                <div class="promo__btns-wrap">
                    <a href="/admin/account/login" class="btn btn--medium btn--orange"><span>Join ICD Now</span></a>
                    <a href="~/whitepaper/ICDeFi-whitepaper.pdf" class="btn btn--big btn--blue" target="_blank">WhitePappers</a>
                </div>
                <div class="payments">
                    <img src="~/client-side/icd/img/visa.png" alt="">
                    <img src="~/client-side/icd/img/mc.png" alt="">
                    <img src="~/client-side/icd/img/bitcoin.png" alt="">
                    <img src="~/client-side/icd/img/paypal.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="scroll-down">
        <img src="~/client-side/icd/img/scroll-down.png" alt="">
    </div>
</section>

<section class="economy">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 offset-lg-3">

                <a href="https://www.youtube.com/watch?v=7e-iBwDZUNI&list=TLGGgIfd9u4MS10yNzA3MjAyMQ&index=10" class="economy__video-btn video-btn" target="_blank">
                    <img src="~/client-side/icd/img/video-btn.png" alt="">
                </a>

                <div class="economy__block">
                    <div class="economy__block-content">
                        <div class="section-header section-header--white section-header--tire section-header--small-margin">
                            <video controls="controls" width="100%" controls="" autoplay="">
                                <source src="~/client-side/icd/video/ICDdemo.mp4" type="video/mp4" />
                            </video>
                            <h4>decentralised economy</h4>
                            <h2>
                                VIDEO TRAILER <span>enables developer solutions</span>
                            </h2>
                        </div>
                        
                        
                        @*<iframe width="100%" height="350" style="z-index:9999" src="https://www.youtube.com/embed/7e-iBwDZUNI?autoplay=1" title="YouTube video player" data-aos="fade-up" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
    <img src="~/client-side/icd/img/video-bg.png" alt="" class="economy__bg">
</section>

<section class="section about" id="about">
    <div class="container">
        <div class="row">
            <div data-aos="fade-right" class="col-lg-5">
                <div class="section-header section-header--animated section-header--tire section-header--small-margin">
                    <h4>About Us</h4>
                    <h2>
                        IC DeFi <span style="color: #ffc107;">is the best for your ICO</span>
                    </h2>
                </div>
                <div class="about__animated-content">
                    <p>
                        We are a team of DeFi builders in Australia who wants to build an ecosystem of DeFi  products that helps traditional ﬁnance users to access to DeFi services much easier.
                    </p>
                    <ul>
                        <li>
                            <strong>Company name</strong>: International Capital Trade Pty.Ltd
                        </li>
                        <li><strong>Founded year</strong>: 2007</li>
                        <li><strong>Address</strong>: 50 Carrington Street Sydney NSW 2000 AUSTRALIA</li>
                        <li><strong>Company code</strong>: 335692</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 offset-lg-1 align-items-center">
                <img src="~/client-side/icd/img/license2.png" class="about__img img-responsive" />
            </div>
        </div>
    </div>
    <img src="~/client-side/icd/img/about-bg.png" data-jarallax-element="40" alt="" class="about__bg">
</section>

<section class="section map" id="map">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="section-header section-header--animated section-header--center section-header--medium-margin">
                    <h4>Our way</h4>
                    <h2>Road Map ICD Token</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 offset-lg-4 col-sm-8 offset-sm-4">
                <div class="road">
                    <div class="road__item road__item-active">
                        <div class="road__item-metka"></div>
                        <div class="road__item-content">
                            <div class="road__item-title">
                                Stage 1:
                            </div>
                            <p>
                                • Building a global ICD Coin ecosystem platform<br />
                                • Build social channels Facebook, Twitter, Instagram, Telegram, Discord, Youtube, Support Channel...<br />
                                • Officially open sale and launch ICD platform globally through Seed Round,Private Sale, Presale…
                            </p>
                        </div>
                    </div>
                    <div class="road__item">
                        <div class="road__item-metka"></div>
                        <div class="road__item-content">
                            <div class="road__item-title">
                                Stage 2:
                            </div>
                            <p>
                                • Cooperating with reputable auditing units Certik, CTDsec, Techrate...<br />
                                • Developing ICD on DEX/Swap/Farm/Staking<br />
                                • Listing on PancakeSwap and 2 international DEXs
                            </p>
                        </div>
                    </div>
                    <div class="road__item @*road__item-next*@">
                        <div class="road__item-metka"></div>
                        <div class="road__item-content">
                            <div class="road__item-title">
                                Stage 3:
                            </div>
                            <p>
                                • Research and development on NFT technology on Defi platform of ICD<br />
                                • Research and development MarketPlace to buy and sell and develop NFTs in the form of artificial intelligence – users can create their own AI through the ICD platform<br />
                                • Launching ICD's Android and IOS App platforms<br />
                            </p>
                        </div>
                    </div>
                    <div class="road__item">
                        <div class="road__item-metka"></div>
                        <div class="road__item-content">
                            <div class="road__item-title">
                                Stage 4:
                            </div>
                            <p>
                                • List ICD on major international P2P exchanges like Binance, Huobi, Gate.io<br />
                                • Links to put ICD coins on crypto news sites like CoinMarketCap, Coinnomi, LiveCoinWatch<br />
                                • Research and optimize technology for virtual reality games and artificial intelligence
                            </p>
                        </div>
                    </div>
                    <div class="road__item">
                        <div class="road__item-metka"></div>
                        <div class="road__item-content">
                            <div class="road__item-title">
                                Stage 5:
                            </div>
                            <p>
                                • Launching a financial game called ICDgame community in this game where we can join and build our own investment business, and completely on ICD's NFT platform<br />
                                • Establishing representative offices in multinationals<br />
                                • Focus on developing charity fund and fund for global artificial intelligence technology research through auctions and patents
                            </p>
                        </div>
                    </div>
                    <div class="road__item">
                        <div class="road__item-metka"></div>
                        <div class="road__item-content">
                            <div class="road__item-title">
                                Stage 6:
                            </div>
                            <p>
                                • Bringing Community game ICD games to major distribution platforms such as Egame, Xbox, Play Station<br />
                                • Develop more study promotion funds, support people who are passionate about technology and science to be able to study and develop methodically<br />
                                • Organize art exhibitions and art exhibitions around the world
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <img src="~/client-side/icd/img/road_map.png" data-jarallax-element="-40" alt="" class="map__title-bg">
    </div>
</section>

<section class="partners-logo" id="partners-logo">
    <div class="container">
        <div class="row">
            <div data-aos="fade-up" class="col">
                <div class="partners-logo__block">
                    <div class="partners-logo__item">
                        <a target="_blank" href="https://kingdomgame.org/">
                            <img class="img-fluid center-block" src="~/images/logo-partner/kingdomgame.png" alt="#">
                        </a>
                        <p>King Dom Game</p>
                    </div>
                    <div class="partners-logo__item">
                        <a target="_blank" href="https://atmlucky.com/">
                            <img class="img-fluid center-block" src="~/images/logo-partner/atmlucky.png" alt="#">
                        </a>
                        <p>Atm Lucky</p>
                    </div>
                    <div class="partners-logo__item">
                        <a target="_blank" href="https://reviewinvest.com/">
                            <img class="img-fluid center-block" src="~/images/logo-partner/rv.jpg" alt="#">
                        </a>
                        <p>Review Invest</p>
                    </div>
                    <div class="partners-logo__item">
                        <a target="_blank" href="https://valuesshare.com/">
                            <img class="img-fluid center-block" src="~/images/logo-partner/vs.png" alt="#">
                        </a>
                        <p>Values Share</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <img src="~/client-side/icd/img/partenrs-bg.png" data-jarallax-element="20" alt="" class="partners-logo__bg">
</section>

<section class="section cases">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="section-header section-header--animated section-header--center section-header--medium-margin">
                    <h2>Outstanding Features</h2>
                    <h4 style="text-transform:none;color: #aeb3c6;">IC Trade and ICD Token trading platform - Developed by a technology company with a professional team and experienced experts in the field of Blockchain technology, Especially with leading artificial intelligence technology top of the world</h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col cases__list">
                <div data-aos="fade-right" class="cases__item">
                    <img src="~/client-side/icd/img/cases-icon-1.png" alt="" class="cases__item-icon">
                    <div class="cases__item-content">
                        <div class="cases__item-title">
                            Support
                        </div>
                        <p class="cases__item-text">
                            Supported on big exchanges DeFi and NFT exchanges
                        </p>
                    </div>
                </div>
                <div data-aos="fade-left" data-aos-delay="200" class="cases__item">
                    <img src="~/client-side/icd/img/cases-icon-2.png" alt="" class="cases__item-icon">
                    <div class="cases__item-content">
                        <div class="cases__item-title">
                            Farming
                        </div>
                        <p class="cases__item-text">
                            Farming automatically up to 8%/month, 30% of transaction fees are allocated to Holders in DeFi fund - BNB
                        </p>
                    </div>
                </div>
                <div data-aos="fade-right" class="cases__item">
                    <img src="~/client-side/icd/img/cases-icon-3.png" alt="" class="cases__item-icon">
                    <div class="cases__item-content">
                        <div class="cases__item-title">
                            Speed
                        </div>
                        <p class="cases__item-text">
                            Liquidity and fast transaction speed
                        </p>
                    </div>
                </div>
                <div data-aos="fade-left" data-aos-delay="200" class="cases__item">
                    <img src="~/client-side/icd/img/cases-icon-4.png" alt="" class="cases__item-icon">
                    <div class="cases__item-content">
                        <div class="cases__item-title">
                            Security
                        </div>
                        <p class="cases__item-text">
                            100% account security
                        </p>
                    </div>
                </div>
                <div data-aos="fade-right" class="cases__item">
                    <img src="~/client-side/icd/img/cases-icon-5.png" alt="" class="cases__item-icon">
                    <div class="cases__item-content">
                        <div class="cases__item-title">
                            Fee
                        </div>
                        <p class="cases__item-text">
                            Low transaction costs
                        </p>
                    </div>
                </div>
                <div data-aos="fade-left" data-aos-delay="200" class="cases__item">
                    <img src="~/client-side/icd/img/cases-icon-6.png" alt="" class="cases__item-icon">
                    <div class="cases__item-content">
                        <div class="cases__item-title">
                            Governance
                        </div>
                        <p class="cases__item-text">
                            Holders can use ICD to vote for governance proposals to change product parameters
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <a href="/admin/account/login" class="btn btn--orange btn--uppercase"><span>Join ICO</span></a>
        </div>
    </div>
    <img src="~/client-side/icd/img/cases-bg.png" class="cases__bg" alt="">
    <img src="~/client-side/icd/img/cases-imgs.png" class="cases__elements" alt="">
</section>

<section class="data" id="stat">
    <div class="container data__container">
        <div class="row">
            <div class="col">
                <img src="~/client-side/icd/img/data-bg.png" class="data__img" alt="">
                <div class="counter__item counter__item-1">
                    <div class="counter__item-title">Holder</div>
                    <div class="counter counter__item-value counter__item-value--blue numscroller">4,477.00</div>
                </div>
                <div class="counter__item counter__item-2">
                    <div class="counter__item-title">Exchange</div>
                    <div class="counter counter__item-value counter__item-value--pink">46,321.00</div>
                </div>
                <div class="counter__item counter__item-3">
                    <div class="counter__item-title">Lock on liquidity providers</div>
                    <div class="counter counter__item-value counter__item-value--green">300,000,000.00</div>
                </div>
                <div class="counter__item counter__item-4">
                    <div class="counter__item-title">DeFi Fund - NFT BNB</div>
                    <div class="counter counter__item-value counter__item-value--purpure">76,981,000,000,000.00</div>
                </div>
            </div>
        </div>
    </div>
    <img src="~/client-side/icd/img/data-bg-space.png" class="data__bg" alt="">
</section>

<section class="section token" id="token">
    <div class="container">
        <div class="row">
            <img src="~/client-side/icd/img/token-img.png" class="token__img" alt="">
            <div data-aos="fade-left" class="col-lg-6 offset-lg-6 token__animated-content">
                <div class="section-header section-header--tire section-header--small-margin">
                    <h4>About token</h4>
                    <h2>Token Sale</h2>
                </div>

                <ul class="token__info-list">
                    <li>
                        <span>Token name:</span> IC DEFI
                    </li>
                    <li>
                        <span>Ticker Symbol:</span> ICD
                    </li>
                    <li>
                        <span>Decimals:</span> 18
                    </li>
                    <li>
                        <span>Max. Supply (Hard Cap):</span> 50,000,000.00
                    </li>
                    <li>
                        <span>Token Platform:</span> BNB BSC
                    </li>
                    <li>
                        <span>Token Standard:</span> BEP20
                    </li>
                    <li>
                        <span>Address ICD token:</span><span><a href="https://bscscan.com/token/0xefff1d1d6e32760ba1f0f65ade3ffe090f256f5c">0xefff1d1d6e32760ba1f0f65ade3ffe090f256f5c</a></span>
                    </li>
                    <li>
                        <span>Address ICD contact:</span><span><a href="https://bscscan.com/address/0xefff1d1d6e32760ba1f0f65ade3ffe090f256f5c">0xefff1d1d6e32760ba1f0f65ade3ffe090f256f5c</a></span>
                    </li>
                </ul>

                <div class="token__desc">
                    <div class="token__desc-title">General description</div>
                    <div class="token__desc-text">
                        <p>
                            ICD will be released on the basis of BNB BSC platform and fully comply with BEP20 standard.
                        </p>
                        <p>
                            Support of this standard guarantees the compatibility of the token with third-party services (wallets, exchanges, listings, etc.), and provides easy integration.
                        </p>
                    </div>
                </div>

                <a href="" class="btn btn--small btn--uppercase btn--orange"><span>Buy Token</span></a>

            </div>
        </div>
    </div>
</section>

<section class="docs" id="docs">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="section-header section-header--animated seaction-header--center section-header--tire section-header--medium-margin">
                    <h4>ICD Token</h4>
                    <h2 style="font-size:30px;">Outstanding advantages</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div data-aos="fade-up" class="col-lg-3 col-md-6 col-sm-6 col-12">
                <a href="#" class="doc">
                    <div class="doc__content">
                        <img src="~/client-side/icd/img/LiquidityLock.png" alt="">
                        <div class="doc__title">
                            Lock long-term liquidity, avoid speculation
                        </div>
                    </div>
                </a>
            </div>
            <div data-aos="fade-up" data-aos-delay="200" class="col-lg-3 col-md-6 col-sm-6 col-12">
                <a href="#" class="doc">
                    <div class="doc__content">
                        <img src="~/client-side/icd/img/PriceIncrease.png" alt="">
                        <div class="doc__title">
                            Potential to increase price over time
                        </div>
                    </div>
                </a>
            </div>
            <div data-aos="fade-up" data-aos-delay="400" class="col-lg-3 col-md-6 col-sm-6 col-12">
                <a href="#" class="doc">
                    <div class="doc__content">
                        <img src="~/client-side/icd/img/Decentralized.png" alt="">
                        <div class="doc__title">
                            Completely decentralized, fast transaction speed
                        </div>
                    </div>
                </a>
            </div>
            <div data-aos="fade-up" data-aos-delay="600" class="col-lg-3 col-md-6 col-sm-6 col-12">
                <a href="#" class="doc">
                    <div class="doc__content">
                        <img src="~/client-side/icd/img/NFTProduct.png" alt="">
                        <div class="doc__title">
                            Own NFT products through ICD Token
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <img src="~/client-side/icd/img/docs-bg.png" data-jarallax-element="40" alt="" class="docs__bg">
</section>

<section class="data token-data section section--no-pad-bot">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="section-header section-header--animated section-header--medium-margin section-header--center">
                    <h4>Our data</h4>
                    <h2>Token Distribution</h2>
                    <div class="bg-title">
                        Token Distribution
                    </div>
                </div>
            </div>
        </div>
        <div class="row chart__row align-items-center">
            <div class="col-lg-6">
                <div class="chart">
                    <img class="chart__bg" src="~/client-side/icd/img/chart-bg.png" alt="">
                    <div class="chart__wrap">
                        <canvas id="myChart" width="400" height="400"></canvas>
                    </div>
                </div>
            </div>
            <div data-aos="fade-left" class="col-lg-6 token-data__animated-content">
                <div class="chart__title">
                    Allocation of funds
                </div>
                <p class="chart__text">
                    Total token supply  - 50,000,000.00 ICD
                </p>
                <ul class="chart__legend">
                    <li>
                        <span style="width: 30px;background:#ba0cd8"></span>
                        5% Marketing, Airdrop
                    </li>
                    <li>
                        <span style="width: 30px;background:#ff9800"></span>
                        5% Seed Round
                    </li>
                    <li>
                        <span style="width: 30px;background:#cbde08"></span>
                        5% Private Sale
                    </li>
                    <li>
                        <span style="width: 60px;background:#00b907"></span>
                        10% PreSale
                    </li>
                    <li>
                        <span style="width: 60px;background:#008eff"></span>
                        10% Staking
                    </li>
                    <li>
                        <span style="width: 60px;background:#7c3deb"></span>
                        10% Farming
                    </li>
                    <li>
                        <span style="width: 30px;background:#eb145d"></span>
                        5% Team
                    </li>
                    <li>
                        <span style="width: 220px;background:#860000"></span>
                        50% Burning
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="advisors">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="section-header section-header--animated section-header--center section-header--big-margin">
                    <h4>TEAM</h4>
                    <h2>Advisors</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div data-aos="fade-right" class="col-md-6">
                <div class="advisor">
                    <a href="https://twitter.com/Richard_190291" class="advisor__img">
                        <img src="~/client-side/icd/img/richard.jpg" alt="">
                        <div class="advisor__sn">
                            <img src="~/client-side/icd/img/twitter.png" />
                        </div>
                    </a>
                    <div class="advisor__content">
                        <div class="advisor__title">
                            Mr Richard
                        </div>
                        <div class="advisor__post">
                            Manager at IC DEFI
                        </div>
                        <p class="advisor__text">
                        </p>
                    </div>
                </div>
            </div>

            <div data-aos="fade-left" data-aos-delay="200" class="col-md-6">
                <div class="advisor">
                    <a href="https://twitter.com/laylalh89" class="advisor__img">
                        <img src="~/client-side/icd/img/LaylaHuynh.jpg" alt="">
                        <div class="advisor__sn">
                            <img src="~/client-side/icd/img/twitter.png" />
                        </div>
                    </a>
                    <div class="advisor__content">
                        <div class="advisor__title">
                            Layla Huynh
                        </div>
                        <div class="advisor__post">
                            CEO at IC DEFI
                        </div>
                        <p class="advisor__text">
                        </p>
                    </div>
                </div>
            </div>

            <div data-aos="fade-right" class="col-md-6">
                <div class="advisor">
                    <a href="https://twitter.com/SimonDuong12" class="advisor__img">
                        <img src="~/client-side/icd/img/SimonDuong.jpg" alt="">
                        <div class="advisor__sn">
                            <img src="~/client-side/icd/img/twitter.png" />
                        </div>
                    </a>
                    <div class="advisor__content">
                        <div class="advisor__title">
                            Simon Duong
                        </div>
                        <div class="advisor__post">
                            Smart Invesment at IC DEFI
                        </div>
                        <p class="advisor__text">
                        </p>
                    </div>
                </div>
            </div>

            <div data-aos="fade-left" data-aos-delay="200" class="col-md-6">
                <div class="advisor">
                    <a href="https://twitter.com/hunhphn68559535" class="advisor__img">
                        <img src="~/client-side/icd/img/IVANHUYNH.jpg" alt="">
                        <div class="advisor__sn">
                            <img src="~/client-side/icd/img/twitter.png" />
                        </div>
                    </a>
                    <div class="advisor__content">
                        <div class="advisor__title">
                            IVAN HUYNH
                        </div>
                        <div class="advisor__post">
                            CIO at IC DEFI
                        </div>
                        <p class="advisor__text">
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="section section--no-pad-top team" id="team">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="section-header section-header--tire section-header--medium-margin">
                    <h4>Our brain</h4>
                    <h2>Awesome Team</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div data-aos="fade-right" class="col-lg-4 col-xl-4 col-6">
                <div class="team-member">
                    <img class="team-member__avatar" src="~/client-side/icd/img/Saint.Truong.jpg" alt="">
                    <div class="team-member__content">
                        <div class="team-member__name">Saint. Truong</div>
                        <div class="team-member__post">Manager at IC DEFI</div>
                        <ul class="team-member__social">
                            <li><a href="https://twitter.com/thanhluantrader"><img src="~/client-side/icd/img/twitter.png" /></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div data-aos="fade-right" data-aos-delay="100" class="col-lg-4 col-xl-4 col-6">
                <div class="team-member">
                    <img class="team-member__avatar" src="~/client-side/icd/img/IRISTU.jpg" alt="">
                    <div class="team-member__content">
                        <div class="team-member__name">IRIS TU</div>
                        <div class="team-member__post">CEO at IC DEFI</div>
                        <ul class="team-member__social">
                            <li><a href="https://twitter.com/mrhung76103305"><img src="~/client-side/icd/img/twitter.png" /></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div data-aos="fade-right" data-aos-delay="200" class="col-lg-4 col-xl-4 col-6">
                <div class="team-member">
                    <img class="team-member__avatar" src="~/client-side/icd/img/JohnBui.jpg" alt="">
                    <div class="team-member__content">
                        <div class="team-member__name">John Bui</div>
                        <div class="team-member__post">Leader at IC DEFI</div>
                        <ul class="team-member__social">
                            <li><a href="https://twitter.com/NhatAnh65481411"><img src="~/client-side/icd/img/twitter.png" /></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*<img src="~/client-side/icd/img/team-bg.png" data-jarallax-element="40" alt="" class="team__bg">*@
</section>

<section class="news">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="section-header section-header--center section-header--small-margin">
                    <h4>In the system</h4>
                    <h2>Latest News</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="news-carousel owl-carousel">
                    @foreach (var item in Model.HomeBlogs)
                    {
                        var url = $"{item.SeoAlias}-b.{item.Id}.html";
                        <a href="@url" class="news-carousel__item">
                            <div class="news-carousel__item-body">
                                <div class="news-carousel__item-subtitle">@item.BlogCategory.Name</div>

                                <img src="@item.Image" />

                                <h3 class="news-carousel__item-title">
                                    @item.Name
                                </h3>
                                <p>
                                    @item.Description
                                </p>
                                <div class="news-carousel__item-data">
                                    @item.DateModified.ToString("MM-dd-yyyy")
                                </div>
                            </div>
                        </a>
                    }
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section contact" id="contact">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="section-header section-header--center section-header--medium-margin">
                    <h4>Contact With us</h4>
                    <h2>Contact IC DEFI</h2>
                </div>

                <form class="form contact-form">
                    <input id="txtFullName" type="text" class="form__input" placeholder="Name">
                    <input id="txtEmail" type="text" class="form__input" placeholder="Email">
                    <input id="txtPhone" type="text" class="form__input" placeholder="Phone">
                    <input id="txtTitle" type="text" class="form__input" placeholder="Subject">
                    <textarea id="txtMessage" class="form__textarea" placeholder="Message" rows="5"></textarea>
                    <button id="btnSendFeedback" class="form__btn btn btn--uppercase btn--blue">Send message</button>
                </form>
            </div>
        </div>
    </div>
    <img src="~/client-side/icd/img/team-bg.png" class="contact-bg" alt="">
</section>